h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 101%;
    height: auto;
}

ul {
    list-style: none;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}
body {
    background-color: #0B1D26; 
    font-family: "Roboto", sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.linksHeader{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
}


.displayHeader {
    display: flex;
        gap: 40px;
        justify-content: center;
}

.conteiner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    &.conteiner__products {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer {
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hero {
    display: flex;
    background-image: url("/images/photo1.jpg");
    height: 600px;
    margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            justify-content: center;
                align-items: center;
}
.cards-styles__products {
gap: 200px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cards-one__products {

    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 420px;
        background: #AEC6A5;
        border-radius: 24px;
        margin-bottom: 20px;
}

 .picture-cards-one__products {
     background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
     box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
     border-radius: 50%;
     width: 200px;
     height: 200px;
     &::before {
         background-image: url("/images/photo2.jpg");
         background-size: 200px 200px;
         content: "";
         width: 200px;
         height: 200px;
         top: -11px;
         position: absolute;
        border-radius: 50%;
     }
 }
 .card-one-style__products {
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     bottom: 40px;
 }
.title-cards__products {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 20px;
    text-transform: uppercase;
    color: #131313;
}

.description__products {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 40px;
    padding-bottom: 90px;
}

.button-cards__products {
    cursor: pointer;
    background-color: inherit;
    color: #000;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
    padding-bottom: 20px;
}

.button-icon__products {
    width: 40px;
    height: 40px;
}

.button-cards__products:hover .button-icon__products {
    width: 50px;
}

.button-cards__products:focus .button-icon__products {
    width: 50px;
}
  .text-title-style__products {
      margin-bottom: 148px;
  }
  .title-section__products {
      text-align: center;
      text-transform: uppercase;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: 37px;
  }
  .sub-title-section__products {
      padding-top: 12px;
      text-align: center;
      letter-spacing: .06em;
      text-transform: uppercase;
      font-family: Seymour One;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
  }